@import "tailwindcss";

@theme {
    --color-primary: hsl(245 82% 62%);
    --color-primary-foreground: hsl(0 0% 100%);

    --color-secondary: hsl(245 15% 95%);
    --color-secondary-foreground: hsl(245 50% 20%);
}

@layer base {
    .dark {
        --color-primary: hsl(245 90% 70%);
        --color-secondary: hsl(245 20% 15%);
        --color-secondary-foreground: hsl(245 15% 90%);
    }
}