@import "tailwindcss";

@theme {
    --color-foreground: hsl(240 6% 10%);
    --color-background: hsl(0 0% 100%);

    --color-primary: hsl(263 45% 56%);
    --color-primary-foreground: hsl(0 0% 100%);

    --color-secondary:  hsl(16 100% 72%);
    --color-secondary-foreground: hsl(245 50% 20%);
    --color-focus: hsl(245 82% 62%);

    --color-success: hsl(142 70% 45%);
    --color-success-foreground: hsl(0 0% 100%);

    --color-error: hsl(0 84% 60%);
    --color-error-foreground: hsl(0 0% 100%);

    --color-warning: hsl(35 92% 55%);
    --color-warning-foreground: hsl(35 92% 30%);

    --color-muted: hsl(245 10% 96%);
    --color-muted-foreground: hsl(245 10% 45%);
}

@layer base {
    body {
        @apply text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    .dark {
        --color-foreground: hsl(0 0% 98%);
        --color-background: hsl(222 47% 11%);

        --color-primary: hsl(263 50% 65%);
        --color-primary-foreground: hsl(0 0% 100%);

        --color-secondary: hsl(16 100% 75%);
        --color-secondary-foreground: hsl(245 10% 10%);

        --color-focus: hsl(245 82% 70%);

        --color-success: hsl(142 65% 50%);
        --color-success-foreground: hsl(0 0% 100%);

        --color-error: hsl(0 84% 65%);
        --color-error-foreground: hsl(0 0% 100%);

        --color-warning: hsl(35 92% 60%);
        --color-warning-foreground: hsl(0 0% 10%);

        --color-muted: hsl(245 10% 15%);
        --color-muted-foreground: hsl(245 10% 65%);

        --color-border: hsl(245 10% 20%);
        --color-input: hsl(245 10% 18%);
        --color-ring: hsl(245 82% 70%);
    }
}